:root {
    --lavender: #D3B1D3;
    --black: #000000;
    --frost: #F5F5F5
}

html {
    background-color: var(--lavender);
}

H3 {
    color: white;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#habitat {
    height: 500px;
    width: 500px;
    border: 2px solid white;
}